.cardTitle {
    font-size: 50px;
}

.cardSubtitle {
    font-size: 40px;
}

.cardText {
    font-size: 40px
}

.mat-card-avatar {
    width: 100px;
    height: 100px;
}
.tweetImg {
    width: 800px;
    height: 450px;
    background-size: cover;
}

mat-card {
    box-shadow: none;
}

.controls {
    width: 100%;
    position:fixed;
    bottom:0px;
    left:0px;
}

.mat-card-header {
    margin-bottom: 10%;

}